<div class="header">
	
	<h1>Secure Password Generator</h1>

</div>

<div class="options">
	
	<p>The most annoying thing about making an account anywhere is coming up with a new password</p>
	<p>Use this generator to come up with a new password.</p>
	<p>Select an option for the drop down list to select a new password length.</p>
	<p>Then hit generate password!</p>
	<p>Use the link below to check the strength of your new password.</p>

	<label>Pick a password length</label>
	<select ng-model="selectedNumber" ng-options="item.name for item in options"></select>

</div>

<div class="generate">
	
	<button id="buttonGenerate" type="button" class="button" ng-click="generatePassword()" value="generatePassword">Generate Password</button>

</div>

<div class="results">
	
	<h3 class="newPasswordsDisplay">Eight Characters: {{newEightCharPassword}}</h3>
	<h3 class="newPasswordsDisplay">Ten Characters: {{newTenCharPassword}}</h3>
	<h3 class="newPasswordsDisplay">Twelve Characters: {{newTwelveCharPassword}}</h3>
	<h3 class="newPasswordsDisplay">Sixteen Characters: {{newSixteenCharPassword}}</h3>

</div>

<div class="linkToChecker">
	<h1><a href="http://www.passwordmeter.com/">Check the strength of your new password here.</a></h1>
</div>
