<div class="row">

	<div class="col-xs-12 col-xs-12 col-xs-12 col-xs-12 container">

		<div class="header">
	
			<h1>Random Password Generator</h1>

		</div>

		<div class="options">
	
			<p>The most annoying thing about making an account anywhere is coming up with a new password so
			use this generator to come up with a new password.</p>
			<ul>
			    <li>1. Use the drop down to generate a new password</li>
			    <li>2. See your newly generated password</li>
			    <li>3. Click the button to open a new tab with a password strength checker</li>
			</ul>

		</div>

		<div class="selectBox">
		
			<h2 class="selectTitle">1. Pick a password length</h2>
			<select ng-model="selectedNumber" ng-options="item.name for item in options" ng-change="generatePassword()"></select>

		</div>

		<br />

		<div class="results">
			
			<h2>2. Your Password</h2>
			<h1 class="newPasswordsDisplay"><div id="password">{{newPassword}}</div></h1>

			
			<button type="button" class="btn btn-default" ng-click="generatePassword()">
				GENERATE A NEW PASSWORD
			</button>

			<button class="btn btn-default" ngclipboard data-clipboard-target="#password">
    			COPY PASSWORD TO CLIPBOARD
			</button>

		</div>

		<br />
		<br />
		
		<div class="text-center">
			<button type="button" class="btn btn-info" ng-click="redirectToPasswordmeter()">3. Check Password Strength in new tab</button>
		</div>

		<br />
		<br />

		<div class="credits">
			<a href="https://github.com/benAkehurst">Fork me on Github</a> | Built with AngularJS and<a href="https://sachinchoolur.github.io/ngclipboard/"> ngclipboard</a>
		</div>

	</div>
</div>