
body {
	font-family: 'Source Sans Pro', sans-serif;
}

.newPasswordsDisplay {
	font-family: 'Slabo 27px', serif;
}

.siteLogo {
	width: 75px;
	height: 75px;
}

.newPasswordsDisplay {
	text-decoration: underline;
	font-weight: bold;
}